.log {
  display: flex;
  color: #000000B0;
  border-bottom: 1px dotted #000000B0;
  padding: 8px 0;

  &-type {
    display: flex;
    flex: 0 0 auto;
    color: #3f51b5;
    align-items: center;
  }

  &-payload {
    flex: 1 1 auto;
    padding: 0 8px;
  }
}
