@use '@angular/material' as mat;
@use '/src/theme';
@use 'sass:map';

$primary-light: map.get(theme.$light-theme, primary);
$primary-dark: map.get(theme.$dark-theme, primary);

.log {
  display: flex;
  padding: 8px 0;

  &-type {
    display: flex;
    flex: 0 0 auto;
    color: mat.get-color-from-palette($primary-light);
    @media (prefers-color-scheme: dark) {
      color: mat.get-color-from-palette($primary-dark);
    }
    align-items: center;
  }

  &-payload {
    flex: 1 1 auto;
    padding: 0 8px;
  }
}
