@use '@angular/material' as mat;
@use '/src/theme';
@use 'sass:map';

$accent-light: map.get(theme.$light-theme, accent);
$accent-dark: map.get(theme.$dark-theme, accent);

.title {
  display: flex;
}

.policy-name {
  flex: 1 0 auto;
}

.policy-badge {
  $width: 16px;
  div {
    display: block;
    padding: 4px;
    width: $width;
    height: $width;
    border-radius: calc($width * 2 + 4px * 2);
    line-height: $width;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    color: #fff;
    background-color: mat.get-color-from-palette($accent-light, 300);
    @media (prefers-color-scheme: dark) {
      background-color: mat.get-color-from-palette($accent-dark, 300);
    }
  }
  flex: 0 0 calc($width * 3);
}

.policy-type {
  // font-weight: 500;
  font-size: 16px;
}

.separator {
  margin: 0 8px;
}

.selected {
  &-light {
    opacity: 0.3;
  }
}
