@use '@angular/material' as mat;
@use '/src/theme';
@use 'sass:map';

$primary-light: map.get(theme.$light-theme, primary);
$primary-dark: map.get(theme.$dark-theme, primary);

.proxy-card-wrap {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.proxy-card {
  box-sizing: border-box;
  height: 100%;
  transition: all 0.2s cubic-bezier(0.17, 0.84, 0.44, 1);
  width: calc(25% - 12px);
  margin-bottom: 16px;
  margin-right: 16px;
  position: relative;
  top: 0;
  &:nth-child(4n) {
    margin-right: 0;
  }
  &:hover {
    top: -4px;
  }

  &::after,
  &::before {
    position: absolute;
    content: '';
    width: 50%;
    max-width: 300px;
    height: 20%;
    top: 70%;
    transition: all 0.2s cubic-bezier(0.17, 0.84, 0.44, 1);
    z-index: -1;
  }

  &::before {
    transform: rotate(-4deg);
    left: 14px;
  }

  &::after {
    transform: rotate(4deg);
    right: 14px;
  }

  &:hover::after,
  &:hover::before {
    box-shadow: 0 8px 12px 4px mat.get-color-from-palette($primary-light, 600);
    @media (prefers-color-scheme: dark) {
      box-shadow: 0 8px 12px 4px mat.get-color-from-palette($primary-dark, 600);
    }
  }
}

.proxy-card-list {
  width: 100%;
  margin-right: 0;
}
