<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="sidenav-content">
      <mat-toolbar>
        <app-loading></app-loading>
        <div>Menu</div>
      </mat-toolbar>
      <ng-content select="[AppMenu]"></ng-content>
      <ng-content select="[AppExtra]"></ng-content>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <!-- *ngIf="isHandset$ | async"> -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Ng-Clash</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content">
      <ng-content select="[AppContent]"></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
